$base = rgb(60, 180, 100)
$hover-base = rgb(35, 165, 85)
$background = rgb(240, 240, 240)
$title = rgb(70, 70, 70)
$text = rgb(80, 80, 80)

body
	font-family arial
	font-size 18px
	text-align center

/**********************************/
.AboutLink
	text-decoration none
	&:hover
		border-bottom 1px solid blue
.AboutList
	margin-left 1.25rem
	text-align left
	&:last-child
		padding-bottom 1.5rem
.AboutListElement
	color $text
	margin 0.25rem 0
.AboutTitle-2
	color $title
	display block
	font-size 2rem
	margin 0
	padding 1.5rem 1rem 0.5rem 1.5rem
	text-align left
.AboutText
	color $text
	display block
	margin 1rem 1.5rem 0.5rem 1.5rem
	text-align left
	&:last-child
		padding-bottom 1.5rem

/**********************************/
.Author
	display block
	margin 1.5em auto
	width 100%
.AuthorDescription
	display inline-block
	height 200px
	margin 1em
	text-align left
	vertical-align top
	width 700px
.AuthorImageContainer
	display inline-block
	margin 1em
	vertical-align top
	width 200px
.AuthorName
	color $title
	display block
	font-size 2rem
.AuthorProfileImage
	border-radius 50%
	height auto
	max-width 100%
.AuthorText
	color $text
	display block
	font-size 1.5rem

/**********************************/
.Container
	background $background
	border-radius 0.5em
	margin 0 auto
	max-width 1024px

/**********************************/
.Footer
	margin 2rem 0
	width 100%
.FooterText
	color $text
	font-size 1rem
	margin 0
	padding 0

/**********************************/
.Nav
	background $base
	display block
	margin 0 auto
	max-width 100%
	padding 0
.NavList
	margin 0 auto
	padding 0
.NavListElement
	display inline-block
	margin 0
	padding 0
.NavListLink
	border-radius 0.35em
	color white
	display block
	font-size 1.1em
	font-weight bold
	margin 0.25em 0.1em
	padding 0.5em
	text-decoration none
	text-shadow 1px 1px 1px black
	&:hover
		background $hover-base