extends layout

block content
	div.Nav
		ul.NavList
			li.NavListElement
				a(href='./').NavListLink inicio
			li.NavListElement
				a(href='./blog').NavListLink blog
	div.Container
		div.Author
			figure.AuthorImageContainer
				img(src='/images/michel_profile.jpg').AuthorProfileImage
			div.AuthorDescription
				h1.AuthorName.
					Michel Ayala
				p.AuthorText.
					Soy un estudiante de Ingenieria en Informatica en el Instituto Politecnico Nacional (IPN) en la Unidad Interdisciplinaria de Ingenieria, Ciencias Sociales y Administrativas (UPPICSA)
	div.Container
		div.About
			h2.AboutTitle-2
				¿A qué me dedico?
			p.AboutText.
				Soy un estudiante de primer año que siente pasión 
				por la tecnología y la programación. Comencé a 
				programar a los 15 años y desde entonces no he 
				parado.
				Me encantan todas las tecnologias post 2009 y la 
				programación en linux.
				Me especializo en el Backend.
	div.Container
		div.About
			H2.AboutTitle-2.
				¿En qué me especializo?
			p.AboutText.
				Lenguajes de programación:
			ul.AboutList
				li.AboutListElement.
					C
				li.AboutListElement.
					C++
				li.AboutListElement.
					PHP
				li.AboutListElement.
					JavaScript
				li.AboutListElement.
					Python
			p.AboutText.
				Bases de datos
			ul.AboutList
				li.AboutListElement.
					MySQL
				li.AboutListElement.
					MongoDB
				li.AboutListElement.
					MariaDB

			p.AboutText.
				Diseño web
			ul.AboutList
				li.AboutListElement.
					HTML
				li.AboutListElement.
					CSS3
				li.AboutListElement.
					Jade
				li.AboutListElement.
					Stylus
				li.AboutListElement.
					Sass
				li.AboutListElement.
					Responsive Web Design
	div.Container
		div.About
			h2.AboutTitle-2.
				¿Qué he hecho?
			p.AboutText Puedes visitar mi cuenta de 
				a(href='http://www.github.com/MichelAyala', target='_blank').AboutLink Github
	footer.Footer
		p.FooterText.
			MCA Solutions 2015